<div class="container my-3 border p-3">
  <div class="form-group">
    <label for="nomeInput">Escolhar um número</label>
    <!-- caixa de banan -->
    <input 
      type="number"
      [(ngModel)]="numero"
      class="form-control" 
      id="nomeInput" 
      placeholder="Escolha um número">
      <div class="alert alert-primary mt-3 p-3 text-center">{{numero}}</div>
  </div>
  <button 
    (click)="escolher()"
    type="button" 
    class="btn btn-primary w-100">
      Escolhar para mim
    </button>
</div>


















<!-- .container.mt-3.border.p-3
<div class="container mt-3 border p-3">
  <form>
    .form-group>label[for=nomeInput]{nome}+input[type=text].form-control#nomeInput[placeholder="Digite um nome"]
    <div class="form-group">
      <label for="nomeInput">Nome</label>
      variável de referência de template: #nomeInput
      <input 
        #nomeInput
        type="text" 
        class="form-control" 
        id="nomeInput" 
        placeholder="Digite um nome">
    </div>
  </form>

  button[type=button].btn.btn-primary{adicionar}
  <button 
    type="button" 
    class="btn btn-primary mt-3 w-100"
    (click)="adicionar(nomeInput)">
    adicionar
  </button>

  <div class="alert alert-primary mt-3 p-3" [hidden]="esconderCaixa">
    {{nome}}
  </div>
</div> -->




 <!-- 2 + 2 = 4
<p>2 + 2 = {{2 + 2}}</p>
{{Isso é interpolação}} 
<p>Meu nome é {{nome}} e tenho {{idade}} anos.</p>

 <p>Lançando um dado: {{lancarDado()}}</p> --> 